.logo{
    margin-right:1rem;
}

.navbar {
    border-bottom:1px solid black;
    box-shadow: 0 4px 2px -2px gray;
    border-radius:12px;
}

.update-button {
    border-radius:50px;
}
.detail {
    margin-top:5rem;
}

.detail-no {
    margin-left:2rem;
}

.detil {
    margin-top:4rem;
}

body {
    margin :0px !important;
}


a {
    text-decoration:none;
    color:inherit;
}

.text-warning > i {
    font-size:40px;
}

@media only screen and (max-width:768px){
    footer>.container>.row>.col-lg-11>.row>.col-lg-3 {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;

    }
}
